body {
    background-color: #788282;
}

.titulo {
    text-align: center;
}

.titulo h2, .titulo h3 {
    color: #f1f1f1;
}

.div-calculadora {
    display: flex;
    justify-content: center;
}

.calculadora {
    border: black 2px solid;
    border-radius: 2em;
    width: 371px;
    height: 700px;
    background-color: rgb(31 29 29);
}

.calculadora .painel {
    margin: 1.5em;
    width: 305px;
    height: 150px;
    color: #fff ;
    border: #18253a 6px solid;;
    background-color: #6f6f6fb8;
    display: flex;
    justify-content: end;
    flex-direction: row-reverse;
}

.calculadora .painel .conteudo-painel{
    font-size: 2em;
    display: flex;
    flex-direction: column-reverse;
}

.calculadora .painel .conteudo-painel .numeros-digitados {
    display: flex;
    flex-direction: row-reverse;

}

.calculadora .painel .conteudo-painel .div-numeros-antigos {
    display: flex;
    justify-content: end;
}

.calculadora .calculadora-conteudo {
    display: grid;
    grid-template-columns: .2fr .2fr .2fr .2fr;
    grid-template-rows: 2em 2em 2em 2em;
    text-align: center;
}

.box {
    border: 1px solid black;
    width: 50px;
    height: 45px;
    margin-left: 2em;
    margin-bottom: 3em;
    background-color: #6d6d6d;
    color: #f1f1f1;
    cursor: pointer;
}

.box-sinais {
    background-color: #708476;
}

.box-igual {
    border: 1px solid black;
    width: 80px;
    height: 45px;
    margin-top: 2em;
    margin-left: 1em;
    background-color: #ff5900ed;
    cursor: pointer;
}

.div-numeros:hover {
    background-color: #373f5c;
}

.numeros:hover {
    transform: scale(1.5);
}


.imagens {
    z-index: -1;
    position: absolute;
    background-image: url("../img/sinais.svg");
    background-repeat: repeat-x;
    background-size: contain;
    width: 99.5%;
    height: 85%;
}


.sinais {
    height: 50em;

}